# Trabajo Práctico 1
## Materia : "ELEMENTOS DE APRENDIZAJE DE MÁQUINA Y BIG DATA"

Consignas en el pdf.

### Exploración
- a) Mostrar las primeras 5 filas del DataFrame.
- b) Obtener las dimensiones del DataFrame.
- c) Mostrar los tipos de datos de cada columna.
- d) ¿Cuántos valores faltantes hay por columna?

In [1]:
import pandas as pd # Importando la libreria

df = pd.read_csv("data/Clientes.csv") # Cargando el DataFrame desde un archivo CSV
df.head()  # Mostrando las primeras 5 filas del DataFrame

   CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male  21.0                15.0                     NaN
2           3  Female  20.0                16.0                     6.0
3           4  Female  23.0                16.0                     NaN
4           5  Female  31.0                 NaN                    40.0

In [2]:
df.shape  # Obteniendo las dimensiones del DataFrame

(200, 5)

In [3]:
df.dtypes  # Mostrando los tipos de datos de cada columna

CustomerID                  int64
Gender                     object
Age                       float64
Annual Income (k$)        float64
Spending Score (1-100)    float64
dtype: object

In [4]:
df.isnull().sum()  # Contando los valores faltantes por columna

CustomerID                 0
Gender                    15
Age                       13
Annual Income (k$)         9
Spending Score (1-100)    18
dtype: int64

### Limpieza de datos
- e) Eliminar las filas que tengan al menos un valor nulo.

In [5]:
df.dropna(inplace=True)  # Eliminando las filas que tienen al menos un valor nulo

In [6]:
df.isnull().sum()  # Verificando nuevamente los valores faltantes por columna

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

### Filtrado de datos
- f) ¿Cuántos clientes hay de género femenino?
- g) ¿Qué clientes tienen un Spending Score mayor a 70?
- h) Mostrar solo a los clientes entre 18 y 25 años que tengan un ingreso anualmayor a 15k

In [7]:
cantidad_clientes_femeninos = df[df['Gender'] == 'Female'].shape[0] # Contando la cantidad de clientes femeninos
cantidad_clientes_femeninos

83

In [8]:
clientes_con_spending_score_mayor_70 = df[df['Spending Score (1-100)'] > 70]  # Contando la cantidad de clientes con un Spending Score mayor a 70
clientes_con_spending_score_mayor_70

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
5             6  Female  22.0                17.0                    76.0
7             8  Female  23.0                18.0                    94.0
13           14  Female  24.0                20.0                    77.0
15           16    Male  22.0                20.0                    79.0
19           20  Female  35.0                23.0                    98.0
21           22    Male  25.0                24.0                    73.0
33           34    Male  18.0                33.0                    92.0
35           36  Female  21.0                33.0                    81.0
41           42    Male  24.0                38.0                    92.0
127         128    Male  40.0                71.0                    95.0
129         130    Male  38.0                71.0                    75.0
133         134  Female  31.0                72.0                    71.0
135         136  Female  29.0                73.0                    88.0
137         138    Male  32.0                73.0                    73.0
139         140  Female  35.0                74.0                    72.0
141         142    Male  32.0                75.0                    93.0
143         144  Female  32.0                76.0                    87.0
145         146    Male  28.0                77.0                    97.0
147         148  Female  32.0                77.0                    74.0
149         150    Male  34.0                78.0                    90.0
151         152    Male  39.0                78.0                    88.0
153         154  Female  38.0                78.0                    76.0
155         156  Female  27.0                78.0                    89.0
157         158  Female  30.0                78.0                    78.0
161         162  Female  29.0                79.0                    83.0
163         164  Female  31.0                81.0                    93.0
165         166  Female  36.0                85.0                    75.0
167         168  Female  33.0                86.0                    95.0
171         172    Male  28.0                87.0                    75.0
173         174    Male  36.0                87.0                    92.0
179         180    Male  35.0                93.0                    90.0
181         182  Female  32.0                97.0                    86.0
185         186    Male  30.0                99.0                    97.0
189         190  Female  36.0               103.0                    85.0
193         194  Female  38.0               113.0                    91.0
195         196  Female  35.0               120.0                    79.0
197         198    Male  32.0               126.0                    74.0
199         200    Male  30.0               137.0                    83.0

In [9]:
clientes_18_25_ingreso_mayor_15k = df[(df['Age'] >= 18) & (df['Age'] <= 25) & (df['Annual Income (k$)'] > 15)]  # Contando la cantidad de clientes entre 18 y 25 años con ingreso mayor a 15k
clientes_18_25_ingreso_mayor_15k

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
2             3  Female  20.0                16.0                     6.0
5             6  Female  22.0                17.0                    76.0
7             8  Female  23.0                18.0                    94.0
13           14  Female  24.0                20.0                    77.0
15           16    Male  22.0                20.0                    79.0
17           18    Male  20.0                21.0                    66.0
21           22    Male  25.0                24.0                    73.0
33           34    Male  18.0                33.0                    92.0
35           36  Female  21.0                33.0                    81.0
41           42    Male  24.0                38.0                    92.0
45           46  Female  24.0                39.0                    65.0
61           62    Male  19.0                46.0                    55.0
65           66    Male  18.0                48.0                    59.0
78           79  Female  23.0                54.0                    52.0
87           88  Female  22.0                57.0                    55.0
91           92    Male  18.0                59.0                    41.0
95           96    Male  24.0                60.0                    52.0
99          100    Male  20.0                61.0                    49.0
100         101  Female  23.0                62.0                    41.0
105         106  Female  21.0                62.0                    42.0
111         112  Female  19.0                63.0                    54.0
113         114    Male  19.0                64.0                    46.0
114         115  Female  18.0                65.0                    48.0
115         116  Female  19.0                65.0                    50.0
124         125  Female  23.0                70.0                    29.0
134         135    Male  20.0                73.0                     5.0
144         145    Male  25.0                77.0                    12.0

### Estadísticas descriptivas
- i) Calcular la edad media de los clientes.
- j) ¿Cuál es el ingreso anual promedio por género?
- k) ¿Cuál es el Spending Score mínimo, máximo y promedio?

In [10]:
Edad_media = df['Age'].mean()  # Calculando la edad media de los clientes
float(Edad_media) # convirtiendo a float, ya que la salida en un principio es np.float64()

39.053333333333335

In [11]:
ingreso_anual_promedio = df["Annual Income (k$)"].mean()
float(ingreso_anual_promedio) # convirtiendo a float, ya que la salida en un principio es np.float64()

62.79333333333334

In [12]:
Spending_score_minimo = df["Spending Score (1-100)"].min()  # Obteniendo el Spending Score mínimo
float(Spending_score_minimo) # convirtiendo a float para que el numero salga directo.

1.0

In [13]:
Spending_score_maximo = df["Spending Score (1-100)"].max()  # Obteniendo el Spending Score máximo
float(Spending_score_maximo) # convirtiendo a float para que el numero salga directo.

98.0

In [14]:
Spending_score_promedio = df["Spending Score (1-100)"].mean()  # Obteniendo el Spending Score promedio
float(Spending_score_promedio) # convirtiendo a float para que el numero salga directo.

49.553333333333335

### Agrupamiento y agregaciones
- r) Agrupar por Gender y calcular la media de todas las columnas numéricas.
- m) Agrupar por grupos de edad (ejemplo: <30, 30-50, >50) y obtener la media de ingreso.

In [15]:
agrupacion_por_gender = df.groupby("Gender")  # Agrupando por género y calculando la media
agrupacion_por_gender.mean()

        CustomerID        Age  Annual Income (k$)  Spending Score (1-100)
Gender
Female  105.060241  38.759036           62.807229               49.614458
Male    104.477612  39.417910           62.776119               49.477612

In [16]:
agrupamiento_por_age = df.groupby(pd.cut(df['Age'], bins=[0, 30, 50, 100], labels=['<30', '30-50', '>50']))  # Agrupando por grupos de edad
agrupamiento_por_age["Annual Income (k$)"].mean() # Calculando la media del ingreso anual por grupo de edad

C:\Users\hillk\AppData\Local\Temp\ipykernel_8104\710059156.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agrupamiento_por_age = df.groupby(pd.cut(df['Age'], bins=[0, 30, 50, 100], labels=['<30', '30-50', '>50']))  # Agrupando por grupos de edad

Age
<30      57.636364
30-50    69.920000
>50      52.870968
Name: Annual Income (k$), dtype: float64

### Creación de nuevas columnas
- n) Crear una columna llamada Income_Category que tenga:
Low si Annual Income < 20
Medium si 20 <= Income < 40 
High si Income >= 40
- o) Crear una columna Age_Group con categorías: Joven (<30), Adulto (30-60),Mayor (>60)

In [17]:
# Crear copia del DataFrame original
df_income = df.copy()

# Agregar la nueva columna Income_Category
df_income["Income_Category"] = df_income["Annual Income (k$)"].apply(
    lambda x: "Low" if x < 20 
    else "Medium" if x < 40 
    else "High"
)

df_income

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Income_Category
0,1,Male,19.0,15.0,39.0,Low
2,3,Female,20.0,16.0,6.0,Low
5,6,Female,22.0,17.0,76.0,Low
6,7,Female,35.0,18.0,6.0,Low
7,8,Female,23.0,18.0,94.0,Low
...,...,...,...,...,...,...
195,196,Female,35.0,120.0,79.0,High
196,197,Female,45.0,126.0,28.0,High
197,198,Male,32.0,126.0,74.0,High
198,199,Male,32.0,137.0,18.0,High
199,200,Male,30.0,137.0,83.0,High

In [18]:
df_age_group = df.copy()

df_age_group["Age_Group"] = df_age_group["Age"].apply(
    lambda x: "joven" if x < 30
    else "adulto" if x < 50
    else "mayor"
)

df_age_group

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Age_Group
0,1,Male,19.0,15.0,39.0,joven
2,3,Female,20.0,16.0,6.0,joven
5,6,Female,22.0,17.0,76.0,joven
6,7,Female,35.0,18.0,6.0,adulto
7,8,Female,23.0,18.0,94.0,joven
...,...,...,...,...,...,...
195,196,Female,35.0,120.0,79.0,adulto
196,197,Female,45.0,126.0,28.0,adulto
197,198,Male,32.0,126.0,74.0,adulto
198,199,Male,32.0,137.0,18.0,adulto
199,200,Male,30.0,137.0,83.0,adulto