# Trabajo Práctico 1
## Materia : "ELEMENTOS DE APRENDIZAJE DE MÁQUINA Y BIG DATA"

Consignas en el pdf.

### Exploración
- a) Mostrar las primeras 5 filas del DataFrame.
- b) Obtener las dimensiones del DataFrame.
- c) Mostrar los tipos de datos de cada columna.
- d) ¿Cuántos valores faltantes hay por columna?

In [2]:
import pandas as pd # Importando la libreria

df = pd.read_csv("data/Clientes.csv") # Cargando el DataFrame desde un archivo CSV
df.head()  # Mostrando las primeras 5 filas del DataFrame

   CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male  21.0                15.0                     NaN
2           3  Female  20.0                16.0                     6.0
3           4  Female  23.0                16.0                     NaN
4           5  Female  31.0                 NaN                    40.0

In [3]:
df.shape  # Obteniendo las dimensiones del DataFrame

(200, 5)

In [4]:
df.dtypes  # Mostrando los tipos de datos de cada columna

CustomerID                  int64
Gender                     object
Age                       float64
Annual Income (k$)        float64
Spending Score (1-100)    float64
dtype: object

In [5]:
df.isnull().sum()  # Contando los valores faltantes por columna

CustomerID                 0
Gender                    15
Age                       13
Annual Income (k$)         9
Spending Score (1-100)    18
dtype: int64

### Limpieza de datos
- e) Eliminar las filas que tengan al menos un valor nulo.

In [6]:
df.dropna(inplace=True)  # Eliminando las filas que tienen al menos un valor nulo

In [7]:
df.isnull().sum()  # Verificando nuevamente los valores faltantes por columna

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

### Filtrado de datos
- f) ¿Cuántos clientes hay de género femenino?
- g) ¿Qué clientes tienen un Spending Score mayor a 70?
- h) Mostrar solo a los clientes entre 18 y 25 años que tengan un ingreso anualmayor a 15k

In [8]:
cantidad_clientes_femeninos = df[df['Gender'] == 'Female'].shape[0] # Contando la cantidad de clientes femeninos
cantidad_clientes_femeninos

83

In [9]:
clientes_con_spending_score_mayor_70 = df[df['Spending Score (1-100)'] > 70].shape[0]  # Contando la cantidad de clientes con un Spending Score mayor a 70
clientes_con_spending_score_mayor_70

38

In [10]:
clientes_18_25_ingreso_mayor_15k = df[(df['Age'] >= 18) & (df['Age'] <= 25) & (df['Annual Income (k$)'] > 15)].shape[0]  # Contando la cantidad de clientes entre 18 y 25 años con ingreso mayor a 15k
clientes_18_25_ingreso_mayor_15k

27

### Estadísticas descriptivas
- i) Calcular la edad media de los clientes.
- j) ¿Cuál es el ingreso anual promedio por género?
- k) ¿Cuál es el Spending Score mínimo, máximo y promedio?

In [ ]:
Edad_media = df['Age'].mean()  # Calculando la edad media de los clientes
float(Edad_media) # convirtiendo a float, ya que la salida en un principio es np.float64()

39.053333333333335

In [16]:
ingreso_anual_promedio = df["Annual Income (k$)"].mean()
float(ingreso_anual_promedio) # convirtiendo a float, ya que la salida en un principio es np.float64()

62.79333333333334

In [19]:
Spending_score_minimo = df["Spending Score (1-100)"].min()  # Obteniendo el Spending Score mínimo
float(Spending_score_minimo) # convirtiendo a float para que el numero salga directo.

1.0